version: '3'
services:
  confluence:
    # image: atlassian/confluence-server:6.9.1-alpine
    image: atlassian/confluence-server:6.13-alpine
    # container_name: confluence
    volumes:
      - confluence_data:/var/atlassian/application-data/confluence
      - confluence_opt_lib:/opt/atlassian/confluence/confluence/WEB-INF/lib
    # ports:
    #     - "8090:8090"
    #     - "8091:8091"
    networks:
      - default
      - traefik-public
    links:
      - postgresql
    deploy:
      labels:
        - traefik.frontend.rule=Host:${DOMAIN?Variable DOMAIN not set}
        - traefik.enable=true
        - traefik.port=8090
        - traefik.tags=${TRAEFIK_PUBLIC_TAG:-traefik-public}
        - traefik.docker.network=traefik-public
        # Traefik service that listens to HTTP
        - traefik.redirectorservice.frontend.entryPoints=http
        - traefik.redirectorservice.frontend.redirect.entryPoint=https
        # Traefik service that listens to HTTPS
        - traefik.webservice.frontend.entryPoints=https
  postgresql:
    image: postgres:9.6
    # restart: always
    # container_name: confluence_postgres
    environment:
      - "POSTGRES_USER=confluence"
      - "POSTGRES_PASSWORD=secret"
      - "POSTGRES_DB=confluence"
    networks:
      - default
    # ports:
    #   - "5432:5432"
    volumes: 
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer
    networks:
      - default
      - traefik-public
    deploy:
      labels:
        - traefik.frontend.rule=Host:adminer.${DOMAIN?Variable DOMAIN not set}
        - traefik.enable=true
        - traefik.port=8080
        - traefik.tags=${TRAEFIK_PUBLIC_TAG:-traefik-public}
        - traefik.docker.network=traefik-public
        # Traefik service that listens to HTTP
        - traefik.redirectorservice.frontend.entryPoints=http
        - traefik.redirectorservice.frontend.redirect.entryPoint=https
        # Traefik service that listens to HTTPS
        - traefik.webservice.frontend.entryPoints=https
        - traefik.frontend.auth.basic.users=${USERNAME?Variable USERNAME not set}:${HASHED_PASSWORD?Variable HASHED_PASSWORD not set}
volumes:
  confluence_data:
  confluence_opt_lib:
  pgdata:
networks:
  traefik-public:
    external: true